<div class="ext-training-appointments-details-ng modal fade" tabindex="-1" role="dialog"
     ng-class="{'in': $ctrl.appointment, 'show': $ctrl.appointment}"
     ng-controller="AppointmentsDetailsController as $ctrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="$ctrl.appointment = null;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Appointment Details</h4></div>
            <div class="modal-body">
                <p>
                {{$ctrl.appointment |json}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.appointment = null;">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->